* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 250, 230);
}

.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 400px;
    text-align: center;
}

header {
    padding-top: 5px;
    height: 50px;
    text-align: center;
    background-color: #ad70e6;
    color: #f1f1f1;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.301);
    font-family: 'Delicious Handrawn', cursive;
}


main {
    background-color: #f1f1f1;
    color: #ad70e6;
    min-height: 200px;
    position: relative;    
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.301);    
    padding: 30px;
}

.texto {
    border: none;
    outline: 0;
    background-color: #f1f1f1;
    width: 92%;
    font-family: cursive;
    font-size: 25px;
    padding: 5px;

}


input[type="checkbox"] {
    appearance: none; /* remove a aparência padrão da checkbox */
    border-radius: 30%; /* torna a checkbox redonda */
    background-color: rgb(189, 250, 230);
    width: 15px; /* define a largura */
    height: 15px; /* define a altura */
    border: 2px solid ; /* adiciona uma borda preta */
}

input[type="checkbox"]:checked {
    background-color: #ad70e6; /* muda a cor de fundo quando a checkbox é selecionada */
}


button {
    margin: 20px;
    z-index: 3;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-color: #ad70e6;
    color: #f1f1f1;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #b584e4;
}
